@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */
body {
  @apply min-h-screen text-gray-800;
  background: radial-gradient(
    circle at top left,
    rgba(231, 179, 35, 0.15),
    transparent 60%
  ),
  radial-gradient(
    circle at bottom right,
    rgba(91, 45, 0, 0.12),
    transparent 55%
  ),
  #e7c17f;
  
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}